language: csharp
mono: latest
env: TARGET_LANG=dotnet

matrix:
  include:
    - env: TARGET_LANG=java
      jdk: oraclejdk8

    - env: TARGET_LANG=ruby
      rvm: 2.0.0
    - env: TARGET_LANG=ruby
      rvm: 2.1.0
    - env: TARGET_LANG=ruby
      rvm: 2.2.0
    - env: TARGET_LANG=ruby
      rvm: jruby-head

    - env: TARGET_LANG=javascript
      node_js: 0.12

    - env: TARGET_LANG=go
      go: latest

before_install:
  - export EnableNuGetPackageRestore=true
  # https://github.com/travis-ci/travis-ci/issues/2839
  - export JAVA_HOME="$(/usr/libexec/java_home)"
  # install jq if its not already there
  - which jq || sudo apt-get install -y jq

script: "cd $TARGET_LANG; make"

branches:
  only:
    - master

notifications:
  email:
    - cukes-devs@googlegroups.com
  irc:
    - "irc.freenode.org#cucumber"
